body { 
    background-color: black;
    color: white;
    text-align: center;  
    font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
}

.title{
    font-size: 400%;
}

.btnCSS{
    margin: 1%; /* Button spacing */
}

#newTopic {
    margin-top: 10%;
}

img {
    margin: 5%;
    max-width: 100%; /* Make images fit nicely in column */
}

#appendMode {
    margin-top: 3%;
    background-color: red;  /* Default to append off */
}

.maincontent {
    margin-top: 4%;
}

.favButton,
.rmFavButton {
    margin-bottom: 8%; /* Space between add to favorite button and row below */
}

.favorite {
    font-size: 200%; /* Sizing favorite title bigger */
}

.favorite div {
    font-size: 50%; /* Lower back down b/c of inheritance setting it to 2x 8 */
}